@*boostrap form*@

<form class="form-inline">
    <div class="form-group mx-sm-3">
        <label for="search" class="mx-sm-2">Search: </label>
        <input type="text" class="form-control" id="search" placeholder="Search Products" @bind-value="filter">
    </div>
    <button type="button" class="btn btn-primary mb-2" @onclick="HandleSearch"> Search </button>
</form>

<br />

@code{

    private string filter;

    [Parameter]
    public EventCallback<string> OnSearch { get; set; }

    private void HandleSearch()
    {
        OnSearch.InvokeAsync(filter);
    }
}