@page "/card"

@inject IViewShoppingCardUseCase viewShoppingCardUseCase

<h3>Shopping Card</h3>
<br />
@if (order != null && order.LineItems != null && order.LineItems.Count > 0)
{
    <div class="row">
        <div class="col-6">
            <ul>
                @for (int i = 0; i < order.LineItems.Count; i++)
                {
                    <LineItemComp LineItem="order.LineItems[i]" />

                    @if (i < order.LineItems.Count - 1)
                    {
                        <li style="list-style:none">
                            <hr />
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-6">
            <OrderSummaryComp Order="order" />
        </div>
    </div>
}
else
{
    <p>There are no items in the shoping card</p>
}



@code{
    private Order order;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            order = await viewShoppingCardUseCase.Execute();
            StateHasChanged();
        }
    }
}