@if(this.product !=null)
{
    <tr>
        <td>
            <a href=@($"/product/{product.ProductId}")>@product.Name</a>
        </td>
        <td>@product.Brand</td>
        <td>@product.Price.ToString("c")</td>
    </tr>
}


@code{
    [Parameter]
    public Product product { get; set; }
}
